.dashboard-title {
	font-size: 3rem;
	font-weight: 500;
}
.dashboard-firstName {
	color: #ff0101;
}
.dashboard-subtitle {
	margin: 0;
	margin-top: 2.5625rem;
	margin-bottom: 4.8125rem;
	font-size: 1.125rem;
}
.dashboard {
	flex-direction: column;
	display: flex;
}
.dashboard-charts {
	box-sizing: border-box;
	width: 52.1875rem;
	height: 20rem;
	margin-bottom: 0;
	padding: 1.5rem 1.875rem;
	border-radius: 5px;
	background: #fbfbfb;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
	font-size: 0.87rem;
}

.dashboard-charts .recharts-surface {
	margin-right: 0.75rem !important;
	margin-left: 0 !important;
}

.dashboard-charts div:first-child {
	display: flex;
}
.dashboard-charts-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	order: 1;
}
.dashboard-aside {
	display: flex;
	justify-content: space-between;
	order: 2;
}
.profil {
	width: 830px;
	margin: auto;
	padding-left: 10px;
}
@media screen and (min-width: 1300px) {
	.dashboard {
		flex-direction: row;
	}
	.dashboard-aside {
		display: block;
		order: 2;
		margin-left: 1.9375rem;
	}
	.profil {
		width: fit-content;
		padding-left: 0px;
	}
	.small-card-wrapper {
		margin-bottom: 0;
	}
	.dashboard-charts-wrapper {
		order: 1;
	}
	.profil {
		margin: auto;
		padding-left: 10px;
	}
}

.small-card-wrapper {
	width: 52.1875rem;
	display: flex;
	justify-content: space-between;
	margin-bottom: 2.4375rem;
}
.Nav-h {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 90px;
	width: 100vw;
	color: white;
	background-color: black;
}
.Nav-h .logo {
	height: 60%;
	padding: 20px;
}
.Nav-h .nav-h {
	display: flex;
	justify-content: space-around;
	flex: 1;
}
.Nav-h .nav-h .nav-h_menu {
	font-size: 2vw;
	font-weight: 500;
}
