.home {
	display: flex;
	justify-content: space-evenly;
}
.btn {
	color: white;
	background-color: #e60000;
	text-decoration: none;
	padding: 1rem;
	margin: 2rem;
	font-size: 1.2rem;
	font-weight: 700;
	border-radius: 20px;
}
